// VARIABLES ----------------------------------------------- /
$color-primary:#fff;
$color-secondary:gray;
$black:#000;
$color-text:#fff;
$color-bg:blue;
$color-shade:#eee;
$white:#fff;
$color-bg-light:#475371;
$font-stack-primary: "Open Sans", sans-serif;
$max-width:1000px;