// ======================================
//  Image Styles
// ======================================

img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top:1.7em;
  @include sm {
    width: 300px;
  }
  @include md {
    width: 600px;
  }
  @include lg {
    width: 700px;
  }
}

.img-featured {
  width: 165px;
  border: 4px solid $white; 
  border-radius: 50%;
  margin-top: 75px;
  position: relative;
  z-index: 100;
  @include sm {
    width: 300px;
  }
}

