// ======================================
//  Layout Container Styles
// ======================================

// Main content
.main-content {
  display: flex;
  // flex-wrap: wrap;
  height: 100%;
  font-size: 2rem;
  justify-content: space-between;

  @include sm {
    width:240px;
    display: flex;
    flex-direction: column;
  }

  @include md {
    @include center;
    width: 550px;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

}  

