// ======================================
//  Variables
// ======================================

// Colors
$color-primary:#fff;
$color-secondary:gray;
$black:#000;
$color-text:#fff;
$color-bg:blue;
$color-shade:#eee;
$white:#fff;
$color-features:#475371;
$color-bg-light:#475371;
$color-section-text:#666666;
$white: #fff;
$color-features-text:#68769b;


$color-primary: #278da4; // teal
$color-primary-light: lighten($color-primary, 10%);
$color-secondary: #b13c69; // dark violet red
$color-accent: #eeea72;
$color-shade: #eee;

$color-text: #343434;


// Fonts
$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;
$font-section: Raleway;

// Layout
$max-width: 1000px;
$gutter: 10px;
$navtop:4em;

//Smartphones (portrait and landscape)
$screen-sm-min: 320px;
$screen-sm-max: 480px;

// iPads (portrait and landscape)
$screen-md-min: 768px;
$screen-md-max: 1024px;

$screen-lg-min: 700;
$screen-lg-max: 1224px;


